# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development
*.log
*.sqlite3
.env

# Django-specific
*.pyc
*.DS_Store
/staticfiles/
/media/

# Virtual environment
venv/