<html>
	<head>
		{% load static %}
            <link rel="shortcut icon" href="{% static "gantt/favicon.ico" %}/">
        <!--------------------------------PLAGINS---------------------------------------->

        <!--DHTMLX-SUITE-->
            <script src="{% static "plagins/suite/codebase/suite.js" %}" type="text/javascript"></script>
            <link href="{% static "plagins/suite/codebase/suite.css" %}"  rel="stylesheet"/>

        <!--DHTMLX-GANTT-->
            <script src="{% static "plagins/dhtmlx_gantt/codebase/dhtmlxgantt.js" %}" type="text/javascript"></script>
            <!--<script src="{% static "plagins/dhtmlx_gantt/codebase/dhtmlx.js" %}" type="text/javascript"></script>-->
            <link href="{% static "plagins/dhtmlx_gantt/codebase/dhtmlxgantt.css" %}"  rel="stylesheet"/>
            <!--<link rel="stylesheet" href="{% static "plagins/dhtmlx_gantt/css/dhtmlx.css" %}">-->

        <!--OTHER-->
            <script src="{% static "plagins/jquery/jquery-3.3.1.js" %}"></script>
            <script src="{% static "plagins/momentTime/moment.js" %}"></script>
            <link href="{% static "plagins/bootstrap-5.2.3/css/bootstrap.min.css" %}" rel="stylesheet" >
            <script src="{% static "plagins/bootstrap-5.2.3/js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
            <!--<link rel="stylesheet" href="https://snippet.dhtmlx.com/codebase/assets/css/auxiliary_controls.css">-->
            <!--<link href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css?v=6.4.2" media="all" rel="stylesheet" type="text/css">-->
            <!--<script src="{% static "gantt/plagins/bootstrap-5.2.3/js/bootstrap.min.js" %}" type="text/javascript"></script>-->



        <!--------------------------------CUSTOM---------------------------------------->
            <!--CSS AND FONTS-->
            <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
            <link href="{% static "css/lightbox.css" %}"  rel="stylesheet"/>
            <link href="{% static "css/stylefonts.css" %}" rel="stylesheet" type="text/css">
            <link href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.css" %}" rel="stylesheet">
    </head>




    <body class="border border-dark m-1" style='height: calc(100vh - 8px);'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-0 shadow-none" aria-label="Twelfth navbar example">
            <div class="d-flex justify-content-evenly align-items-center w-100">
                <div class="d-flex">
                    <button name="undo" class="setting-button-diagram-gant"><img src="{% static "image/undo.png"%}" alt="Submit"></button>
                    <button name="redo" class="setting-button-diagram-gant"><img src="{% static "image/redo.png"%}" alt="Submit"></button>
                    <button name="del" class="setting-button-diagram-gant"><img src="{% static "image/delete.png"%}" alt="Submit" style="height:21px;width:21px;-webkit-filter: invert(10%);"></button>
                    <button name="moveBackward" class="setting-button-diagram-gant"><img src="{% static "image/moveBackward.png"%}" alt="Submit"></button>
                    <button name="moveForward" class="setting-button-diagram-gant"><img src="{% static "image/moveForward.png"%}" alt="Submit"></button>
                    <button name="zoomOut" class="setting-button-diagram-gant"><img src="{% static "image/zoom-in.png"%}" alt="Submit"></button>
                    <button name="zoomIn" class="setting-button-diagram-gant"><img src="{% static "image/zoom-out.png"%}" alt="Submit"></button>
                    <button name="zoomBack" class="setting-button-diagram-gant"><img src="{% static "image/zoom-back.png"%}" alt="Submit"></button>
                    <button name="fullScreen" class="setting-button-diagram-gant"><img src="{% static "image/fullScreen.png"%}" alt="Submit"></button>
                </div>
            </div>
        </nav>

        <main>
            <div id="myCover"> <!-- На весь экран -->
                 <div id="gantt_here"></div>
            </div>
        </main>

        <!-----------------------CUSTOM JS--------------------------->
            <script src="{% static "js/settings/global.js" %}"></script>

            <script src="{% static "js/customJs/dateFunction.js" %}"></script>

            <script src="{% static "js/event/eventsGantt.js" %}"></script>
            <script src="{% static "js/event/eventsButtons.js" %}"></script>

            <script src="{% static "js/zoom/zoomBackDefault.js" %}"></script>
            <script src="{% static "js/zoom/zoom.js" %}"></script>

            <script src="{% static "js/style/style_gantt.js" %}"></script>
            <script src="{% static "js/style/style_resource.js" %}"></script>
            <script src="{% static "js/model/gantt.js" %}"></script>
            <script src="{% static "js/model/resource.js" %}"></script>

            <script src="{% static "js/lightbox/suite_splitProject_editor.js" %}" type="text/javascript"></script>
            <script src="{% static "js/lightbox/suite_task_editor.js" %}" type="text/javascript"></script>
            <script src="{% static "js/lightbox/suite_resource_editor.js" %}" type="text/javascript"></script>
            <script src="{% static "js/lightbox/customLightbox.js" %}" type="text/javascript"></script>
            <script src="{% static "js/lightbox/customLightbox.js" %}" type="text/javascript"></script>

            <script src="{% static "js/settings/gridLayout.js" %}"></script>
        <script>
            gantt.init("gantt_here");
            gantt.load("/data/", "json");
            var dp = new gantt.dataProcessor("/data/");
            dp.init(gantt);
            dp.setTransactionMode("REST");
		</script>
	</body>
</html>
