body.dhx_window--no-scroll{
     width: auto!important;
}

.dhx_window-content{
  height: 100%;
}

.dhx_grid-footer-cell, .dhx_grid-header-cell{
    font-size: 11pt;
    font-family: Akrobat-ExtraBold!important;
}


.dhx_grid-cell{
    font-size: 11pt;
    font-family: Akrobat-Regular!important;
}

.dhx_grid-cel:focus{
    font-size: 9pt;
    font-family: Akrobat-Regular!important;
}