
.gantt_grid {
    background-color: #2a2a2a !important;
}

.gantt_task {
    background-color: #2a2a2a !important;
}

.gantt_task_row {
    background-color: #2a2a2a !important;
}

.grid_header_class /*Класс для шапки таблицы*/
{
    font-weight: none !important;
    font-family: Akrobat-Bold !important;
    font-size: 12pt !important;
    background-color: #3a3b3b;
    color: #dedcdc !important;

}

.gantt_grid_scale {
    /*border-color: #984b4b;*/
}


.gantt_grid_data, .gantt_cell {
    color: #dedcdc !important;
    border-top-color: #be2e2e !important;
}

.row-class {
    background-color: #2a2a2a !important;
}

.gantt_tree_content {
    font-size: 11pt !important;
}

.gantt_scale_cell {
    color: #dedcdc !important;
}


.gantt_task_scale {
    background-color: #3a3b3b;
}


.gantt_task_row, .gantt_row {
    /*border: none;*/
    border-color: #545454;
}

.gantt_histogram_label {
    font-family: Akrobat-SemiBold !important;
    font-size: 12pt;
    font-weight: normal;
    color: #dedcdc !important;
}


.gantt_task_cell {
    border-color: #545454;
}

.resourceGrid_cell .gantt_row,
.resourceGrid_cell .gantt_row.odd {
    background-color: #2a2a2a !important;
}


.gantt_histogram_hor_bar {
    background-color: #ffffff !important;
    /*display: none!important;*/

}


.gantt_histogram_vert_bar {
    display: none !important;
    /*width: 22px;*/
    /*     border-color: #545454!important;*/
    /*     background-color: #ffffff !important;*/
}

.gantt_grid_data .gantt_row.odd:hover, .gantt_grid_data .gantt_row:hover,
.gantt_grid_data .gantt_row.gantt_selected, .gantt_grid_data .gantt_row.odd.gantt_selected, .gantt_task_row.gantt_selected {
    background-color: #1a2121 !important;

}

.gantt_task_row.gantt_selected .gantt_task_cell {
    /*border: none;*/
    border-color: #545454 !important;
}

.gantt_scale_cell {
    border-color: #545454 !important;
}

.gantt_grid_head_cell {
    background-color: #3a3b3b;
}

.gantt_grid_head_add {
    background-color: #3a3b3b !important;
}

.gantt_grid_head_add {
    opacity: 1 !important;
}

.gantt_grid_head_add:hover {
    background-color: #1a2121 !important;
}

.gantt_add, .gantt_grid_head_add {
    opacity: 1 !important;
}

.gantt_grid_scale, .gantt_task_scale {

    border-bottom: 1px solid #737373 !important;

}

.gantt_grid_column_resize_wrap .gantt_grid_column_resize {
    background-color: #737373 !important;
}


.gantt_layout_cell_border_top {
    border-top: 1px solid #737373 !important;
}

  .gantt_layout_cell_border_bottom {
    border-bottom: 1px solid #737373!important;
}

.gantt_layout_cell_border_right {
    border-right: 1px solid #737373;
}

.gantt_layout_cell_border_left {
    border-left: 1px solid #737373 !important;
}


.gantt_scale_line {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top: 1px solid #737373 !important;
}

.gantt_scale_line:first-child {
    border-top: none !important;
}

.gantt_scale_line {
    clear: both !important;
}


.form-control-feedback:focus {
    outline: none;
    font-family: Akrobat-Regular !important;
    font-size: 12pt;
    color: #dedcdc !important;
    box-shadow: none;
    width: 100% !important;
}

.form-control-feedback {
    font-size: 12pt;
    background-color: #2a2a2a;
    font-family: Akrobat-Regular !important;
    width: 100% !important;
    height: 30px;
    border: 1px solid #737373;
    line-height: 30px;
    padding-left: 5px;
}



