body.dhx_window--no-scroll{
     width: auto!important;
}

.dhx_window-content{
  height: 100%;
}

/*  Содержимое таба (таблица, импуты) */
.dhx_layout-cell.panel{
    /*margin-top: 8px;*/
    border: 10px;
}

/*  Обводка содержимого таба (таблица, импуты) */
/*.dhx_grid-content.dhx_grid-less-height{*/
/*    border-color: rgb(2, 136, 209);*/
/*}*/

/*.dhx_widget.dhx_layout.dhx_layout-rows.dhx_widget--bordered.dhx_form{*/
/*     border-color: rgb(2, 136, 209);*/
/*}*/

/*Шапка таблицы*/
.dhx_grid-header-cell{
    font-size: 12pt;
    font-family: Akrobat-ExtraBold!important;

}

    /*.custom .dhx_grid-header-cell--active {*/
    /*    background-color: rgb(2, 136, 209);*/
    /*    !*color: var(--dhx-color-white);*!*/
    /*}*/
    /*!*.custom .dhx_tabbar-header-active {*!*/
    /*!*    background-color: #ff5252;*!*/
    /*!*}*!*/

/*Строки таблицы*/
.dhx_grid-cell{
    font-size: 12pt;
    font-family: Akrobat-Regular!important;
}



/* Лейпблы импутов */
.dhx_label {
     font-size: 13pt;
    font-family: Akrobat-ExtraBold!important;
}

/* Инпуты */
.dhx_input {
       font-size: 13pt;
    font-family: Akrobat-Regular!important;
}





.dhx_grid-cel:focus{
    font-size: 9pt;
    font-family: Akrobat-Regular!important;
}





.dhx_tabbar-tab-button{
         font-size: 13pt;
    font-family: Akrobat-ExtraBold!important;
}

.dhx_navbar-title--toolbar{
             font-size: 15pt!important;
    font-family: Akrobat-Regular!important;
}

.dhx_tabbar-header__wrapper{
    border-bottom: none!important;

}

.dhx_window-header {
padding-bottom: 16px;
}



