body.dhx_window--no-scroll{
     width: auto!important;
}

.dhx_window-content{
  height: 100%;
}

/*  Содержимое таба (таблица, импуты) */
.dhx_layout-cell.panel{
    /*margin-top: 8px;*/
    border: 10px;
}
.dhx_window-content{
     padding-bottom: 10px;
}


/*.new-container-style, .new-tooltip-style {*/
/*    background-color: #0a58ca;*/
/*}*/

/*.gantt_container, .gantt_tooltip {*/
/*    background-color: #b70aca;*/
/*}*/





.gantt_task_line.gantt_project {
background-color: rgba(101, 193, 111, 0.78);
border: 1px solid #3c9445;
}

.new_gantt_task_line.new_gantt_project {
background-color: rgba(255, 110, 110, 0.53);
border: 1px solid #964545;
}




/*  Обводка содержимого таба (таблица, импуты) */
/*.dhx_grid-content.dhx_grid-less-height{*/
/*    border-color: rgb(2, 136, 209);*/
/*}*/

/*.dhx_widget.dhx_layout.dhx_layout-rows.dhx_widget--bordered.dhx_form{*/
/*     border-color: rgb(2, 136, 209);*/
/*}*/

/*Шапка таблицы*/
.dhx_grid-header-cell{
    font-size: 12pt;
    font-family: Akrobat-ExtraBold!important;

}

    /*.custom .dhx_grid-header-cell--active {*/
    /*    background-color: rgb(2, 136, 209);*/
    /*    !*color: var(--dhx-color-white);*!*/
    /*}*/
    /*!*.custom .dhx_tabbar-header-active {*!*/
    /*!*    background-color: #ff5252;*!*/
    /*!*}*!*/

/*Строки таблицы*/
.dhx_grid-cell{
    font-size: 12pt;
    font-family: Akrobat-Regular!important;
}

    .project_row {
        background: #f7f7f7;
        border-left-color: black;
    }



/* Лейпблы импутов */
.dhx_label {
     font-size: 13pt;
    font-family: Akrobat-ExtraBold!important;
}

/* Инпуты */
.dhx_input {
       font-size: 13pt;
    font-family: Akrobat-Regular!important;
}





.dhx_grid-cel:focus{
    font-size: 9pt;
    font-family: Akrobat-Regular!important;
}





.dhx_tabbar-tab-button{
         font-size: 13pt;
    font-family: Akrobat-ExtraBold!important;
}

.dhx_navbar-title--toolbar{
             font-size: 15pt!important;
    font-family: Akrobat-Regular!important;
}

.dhx_tabbar-header__wrapper{
    border-bottom: none!important;

}

.dhx_window-header {
padding-bottom: 16px;
}

