	.group_row,
    .group_row.odd,
    .gantt_task_row.group_row
    {
        background-color: #ebebeb;
    }

    /*.gantt_row_task > *{*/
    /*    !*background-color: #ebebeb;*!*/
    /*    color: #939090 !important;*/
    /*}*/
    .gantt_row_task_hide > *{
        /*background-color: #ebebeb;*/
        color: #939090 !important;
    }

    .column_red .gantt_histogram_fill
    {
        background-color: rgba(255, 110, 110, 0.68);
    }

    .column_yellow .gantt_histogram_fill
    {
        background-color: rgba(241, 229, 153, 0.66);
    }

    .column_green .gantt_histogram_fill
    {
        background-color: rgba(139, 239, 139, 0.71);
    }

    .column_blue .gantt_histogram_fill
    {
        background-color: rgba(170, 228, 246, 0.45);
    }

    .column_orange .gantt_histogram_fill
    {
        background-color:#ffcd75;
    }