	.group_row,
    .group_row.odd,
    .gantt_task_row.group_row
    {
        background-color: #ebebeb;
    }

    /*.gantt_row_task > *{*/
    /*    !*background-color: #ebebeb;*!*/
    /*    color: #939090 !important;*/
    /*}*/
    .gantt_row_task_hide > *{
        /*background-color: #ebebeb;*/
        color: #939090 !important;
    }

    .column_red .gantt_histogram_fill
    {
        margin-bottom: 1px;
        width: calc(100% - 1px);
        background-color: var(--resource-red);
    }

    .column_yellow .gantt_histogram_fill
    {
        margin-bottom: 1px;
        width: calc(100% - 1px);
        background-color: var(--resource-yellow);
    }

    .column_green .gantt_histogram_fill
    {
        margin-bottom: 1px;
        width: calc(100% - 1px);
        background-color: var(--resource-green);
    }

    .column_blue .gantt_histogram_fill
    {
        background-color: rgba(170, 228, 246, 0.45);
    }

    .column_orange .gantt_histogram_fill
    {
        background-color:#ffcd75;
    }