/*   удаление лишних иконок   */
:root {
    --light-border-color: #737373;
    --black-border-color: #545454;
    --light-background-color: #3a3b3b;
    --black-background-color: #2a2a2a;
    --white-text: #dedcdc;

    --hover-color: rgba(115, 115, 115, 0.35);

    --save-button-text-color: #54c911;

    --resource-red: rgba(231, 157, 157, 0.73);
    --resource-green: rgba(132, 194, 132, 0.71);
    --resource-yellow: rgb(194, 175, 117);
}


.dhx_alert__overlay {
      display: none!important;
}

.dhx_widget.dhx_alert {
      display: none!important;
}

.gantt_tree_icon .gantt_folder_open /*   удаление лишних иконок   */
{
  display: none!important;
}
.dhx_message-container, .dhx_message-container--top-right, .dhx_message-container--in-body{
  display: none!important;
}
.gantt_tree_icon .gantt_folder_closed {
    display: none!important;
}
.gantt_folder_closed {
    display: none!important;
}
.gantt_folder_open {
    display: none!important;
}
.gantt_tree_icon.gantt_file /*   удаление лишних иконок   */
{
  display: none!important;
}
.gantt_task_progress_wrapper{
  display: none!important;
}
.gantt_task_progress_drag /*   удаление управлением прогресса   */
{
  display: none!important;
}



.gantt_link_point /*   удаление линк поинтов для создания линков  */
{
  display: none!important;
}


/*  Удаление банера просрочки бесплатной версии  */
.gantt-error
{
  display: none!important;
}
.dhtmlx-error
{
  display: none!important;
}



.complex_gantt_bar /*  для flex отображения  */
  {
    background: transparent;
    border: none;
  }

  .complex_gantt_bar .gantt_task_progress
  {
    display: none;
  }

  .gantt_task_link{
        display: none!important;
  }


html, body
{
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
      border-top: 1px solid #737373 !important;
}



.gantt_task_line.gantt_project {

    background-color: rgb(64, 174, 194);
/*border: 1px solid #3c9445;*/
    border-color: #545454;

}

/*.new_gantt_task_line.new_gantt_project {*/
/*background-color: rgba(255, 110, 110, 0.53);*/
/*border: 1px solid #964545;*/
/*}*/

.gantt_task_line {
border-radius: 20px;
position: absolute;
box-sizing: border-box;
background-color: rgb(85, 183, 96);
/*border: 1px solid #2898b0;*/
    border-color: #545454;
-webkit-user-select: none;
    /*-webkit-filter: invert(50%)!important;*/
-moz-user-select: none;
-moz-user-select: -moz-none;
}


.gantt_task_line.gantt_selected /* стили выбранной колбасы */
{
    box-shadow: none!important;
    /*-webkit-filter: invert(20%);*/
    background-color: rgb(133, 234, 116);
    /*transform: none!important;*/
}

.gantt_task_line.gantt_project.gantt_selected {

    box-shadow: none!important;
    /*-webkit-filter: invert(20%);*/
       background-color: rgb(110, 226, 248);
    /*transform: none!important;*/

}

.baselineTask
{
  position: absolute;
  border-radius: 2px;
  /*opacity: 0.6;*/
  margin-top: -7px;
  height: 12px;
  background: #c59947;
  border: 1px solid #545454;
}
.baselineProject
{
  position: absolute;
  border-radius: 2px;
  /*opacity: 0.6;*/
  margin-top: -7px;
  height: 12px;
  background: #cc7070;
  border: 1px solid #545454;
}







.gantt_task_line, .gantt_line_wrapper /* переместить строки задач вверх????? */
{
  /*border-radius: 20px!important;*/
  margin-top: -0.5px!important;
}

.gantt_task_link .gantt_link_arrow /* Положение стрелки относительно задачи*/
{
  margin-top: -3px;
}






.gantt-myCssG div /* стиль для модальных окон с*/
{
    font-family: Akrobat-SemiBold;
    color: #4d4d4d;
}

.gantt-myCssR div /* стиль для модальных окон красный*/
{
    font-family: Akrobat-SemiBold;
    color: #4d4d4d;
}

.gantt-myCssG div p /* стиль для модальных окон зеленый*/
{
    font-family: Akrobat-SemiBold;
    color: #09ad35;
}

.gantt-myCssR div p /* стиль для модальных окон красный*/
{
    font-family: Akrobat-SemiBold;
    color: red;
}




.mpp-sample
{
  background: url("common/ms-project.png");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  padding-left: 40px;
  line-height: 32px;
  display: inline-block;
}

#mspFile
{
  border: none;
  background: #ededed;
}





.text-button-diagram-gant /* кнопка для ввода тескта */
{
    color: #6e6e6e;
    background: #242526;
    background-color: white;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,.5);

    min-width: 35px;
    min-height: 35px;

    border: 1px solid rgba(34,34,34,0); /* ширина границы 1px, обычная одинарная граница, ее цвет*/
    border-radius: 6px;

    padding: .375rem .75rem;
    margin: .375rem .125rem;

    font-family: Akrobat-SemiBold;

    font-size: 11pt;
    text-align: center;
}

.setting-button-diagram-gant /* остальные кнопки */
{
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    /*box-shadow: 1px 3px 10px 0 rgba(0,0,0,.5);*/
    border-radius: 2px;
    /*transition: 1s; !* Время эффекта *!*/
    transition-timing-function: linear; /* крива */
    animation-duration: 5s;


    cursor: pointer; /* изменение курсора при наведении */

    min-width: 35px;
    min-height: 35px;

    border: 1px solid rgba(34,34,34,0); /* ширина границы 1px, обычная одинарная граница, ее цвет*/
    border-radius: 6px;

    padding: .375rem .75rem;
    margin: .375rem .125rem;

    font-family: Akrobat-Light;

    font-size: 11pt;
    text-align: center;
}

	.dhtmlxcalendar_dhx_skyblue, .dhtmlxcalendar_dhx_web, .dhtmlxcalendar_dhx_terrace { /* Для datapixer*/
		z-index: 999999 !important;
	}
			.setting-button-diagram-gant{
				margin: 0px 0px 0px 0px;
				border-radius:0px;
			}
			.fileUpload{
				margin: 0px;
			}



.grid /* Основной блок всех кнопок УРОВЕНЬ 1 */
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_row /* Блок копок УРОВЕНЬ 2 без отступа справа (для последнегно элемента)*/
{

  display: flex;
    align-items: center;
}

.grid_row_m /* Блок кнопок УРОВЕНЬ 2 с отступом справа*/
{
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.grid_item /* отдельная кнопка УРОВЕНЬ 3 */
{
    height: 50px;
     display: flex;
 align-items: center;
}


.weekend /* окраска выходных */
{
  background: #545454 !important;
  color:white !important;
}

.none /* отмена окраски для zoom кроме дней */
{
  background: white!important;
  color:#4d4d4d !important;
}

.task_row_class  /*класс CSS, который будет применён к строке области шкалы времени*/
{
  font-weight: none!important;
  font-family: Akrobat-Light!important;
}

.folder_row /* Класс для папки таблицы */
{
  font-weight: none!important;
  font-family: Akrobat-ExtraBold!important;
  font-size: 12pt!important;
}

.gantt_row, .gantt_row_task/* Класс для строки таблицы */
{
  font-weight: none!important;
  font-family: Akrobat-SemiBold!important;
  font-size: 12pt!important;
}



.scale_row_class  /*Класс для шапки шкалы времени */
{
  font-weight: none!important;
  font-family: Akrobat-Bold!important;
  font-size: 11pt!important;
}



.gantt_side_content /*Класс для Превышения задачи по времени*/
{
  font-family: Akrobat-Regular!important;
  color: #4d4d4d;
  font-size: 10pt!important;
}

.gantt_task_content /*Класс для отображения прогресса на задае*/
{
  font-family: Akrobat-SemiBold!important;
  color: black;
  font-size: 12pt!important;
  text-align: center;

}




/* Стили для полноэкранного режима */
#myCover{width: 100%; height:95%;}
#toggleBtn {max-height: 30px;}
#gantt_here {height: 100%;}



.gantt_cal_light /* класс для всей формы редактирования */
{
  font-family: Akrobat-Bold!important;
  width: 580px;
  height: 600px!important;
  font-weight: 300!important;
  font-size: 16px;
  top: 60px!important;
}

.gantt_cal_larea /* класс для формы редоктирования кроме нижней и верхней шапки */
{
  height: 505!important;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-top: none;
  border-bottom: none;

}
/*
.gantt_cal_larea div
{
  padding-left: 30px;
  padding-right: 30px;
}
*/

.gantt_btn_set
{
  font-family: Akrobat-Bold!important;
  font-weight: normal;
}
.gantt_cal_lsection /* Стили для формы редоктирования */
{
  color: #727272;
  font-family: Akrobat-Bold!important;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0 0px 10px;
}

.gantt_cal_lsection label /* стили для заголовков */
{
  margin: 0;
  font-size: 15px;
}

.gantt_cal_ltitle /* заголовок формы редоктирования */
{
  font-family: Akrobat-Regular!important;
  font-weight: normal!important;
  font-size: 15px;
}

.gantt_cal_ltext /* поле для ввода наименования задачи */
{
  font-family: Akrobat-Regular!important;
  font-weight: normal!important;
  font-size: 14px;
  overflow: visible;

}

.gantt_cal_light label /* класс для селекта в окне редактирования задачи */
{
  padding-left: 5px;
  padding-right: 5px;
  }

  .gantt_cal_template span/*:nth-child(even)*/
{
  padding-left: 15px;
}


.gantt_section_time /* период по факту и по плану */
{
  height: 30px!important;
}

.gantt_cal_light select /* класс для селекта в окне редактирования задачи */
{
    font-family: Akrobat-Regular!important;
    border: 1px solid #737373;
    font-size: 15px;
    padding: 2px;
    margin: 0;
}

.gantt_cal_ltext textarea /* поле ввода текста в форме редактирования */
{
  font-family: Akrobat-Regular!important;
  font-size: 15px;
}
/*
.gantt_cal_larea div:nth-of-type(8)
{
  width: 100%!important;
}

.gantt_cal_larea div:nth-of-type(10)
{
  width: 100%!important;
}

.gantt_cal_larea div:nth-of-type(12)
{
  width: 100%!important;
}

.gantt_cal_larea div:nth-of-type(14)
{
  width: 100%!important;
}

.gantt_cal_larea div:nth-of-type(1)
{
  font-size: 15px!important;
}

.gantt_cal_larea div:nth-of-type(3)
{
  font-size: 10px!important;
}
/*
display: flex;
justify-content: center;
flex-direction: row;
*/

.atr /* звездочка */
{
  font-family: Akrobat-Regular!important;
  color: red;
  font-size: 20px;
}







.not_active /* класс для задач с выполнением 100% */
{
    color: #BFBFBF;
}

.gantt_grid_scale, .gantt_grid_head_cell
{
  border-right: 1px solid #737373!important;

}





/* стили для вывода ресурсного планирования */

			.gantt_grid_scale .gantt_grid_head_cell,
			.gantt_task .gantt_task_scale .gantt_scale_cell
      {
				/*font-weight: normal;*/
				font-size: 12pt!important;
				color: #4d4d4d;
			}

			.highlighted_resource,
			.highlighted_resource.odd
      {
			/*	background-color: rgba(255, 251, 224, 0.6);*/
			}

			.gantt_task_cell.week_end {
				background-color: #e8e8e87d;
			}

			.gantt_task_row.gantt_selected .gantt_task_cell.week_end
      {
				background-color: #e8e8e87d !important;
			}




			.owner-label
      {
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 12px;
				display: inline-block;
				border: 1px solid #cccccc;
				border-radius: 25px;
				background: #e6e6e6;
				color: #6f6f6f;
				margin: 0 3px;
				font-weight: bold;
			}


			.resource-select-panel .gantt_layout_content
      {
				line-height: 35px;
				text-align: right;
				padding-right: 15px;
				overflow: hidden !important;
			}
			.resource-select
      {
				padding: 3px;
				margin-left: 13px;
			}






      .gantt_resource_cell.gantt_resource_cell_label {
          width: 70%!important;
          max-width: 70%!important;
      }

      .gantt_resource_cell.gantt_resource_cell_value {
        width: 10%!important;
        max-width: 10%!important;
      }

      .gantt_resource_cell.gantt_resource_cell_value input, .gantt_resource_cell.gantt_resource_cell_value select {
        border: 1px solid #737373;
      }















      .switch-btn {              /* переключатель */

    display: inline-block;
    width: 72px; /* ширина */
    height: 38px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #242526; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
        margin: .240rem .125rem;

}
.switch-btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    border-radius: 17px;
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #118c4e;
}
.switch-on::after {
    left: 37px;
}


.switch-btn {
    display: inline-block;
    width: 72px; /* ширина */
    height: 38px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
    margin: .240rem .125rem;
}
.switch-btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    border-radius: 17px;
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #118c4e;
}
.switch-on::after {
    left: 37px;
}




.fa {
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    opacity: 0.2;
    padding: 5px;
  }

  .fa:hover {
    opacity: 1;
  }

  .fa-plus {
    color: #328EA0;
    opacity: 0.7;
  }

  .fa-database {
    opacity: 0.7;
  }

  .hidden:active {
    background-color: rgb(71, 103, 244)!important;
    opacity: 0.5;
  }


.gantt_marker_content
{
  font-family: Akrobat-Regular!important;
  font-size: 14px!important;
}

.gantt_resources
{
  max-height: 260px!important;
}

/*.gantt_resource_row*/
/*{*/
/*  padding-top: 0px!important;*/
/*}*/

.dhx_calendar_cont {
    padding: 2px 10px;
}
.dhx_calendar_cont input {
    width: 80px;
    cursor: pointer;
    text-align: center;

    font-family: Akrobat-Regular!important;
    border: 1px solid #737373;
    font-size: 15px;
    padding: 2px;
    margin: 0;
	}

.setting-button-diagram-gant img {
      -webkit-filter: invert(90%);
        height:21px;width:21px;
}

.gantt_task_line.gantt_split_parent {
    display: none;
}
.gantt_task .gantt_task_scale .gantt_scale_cell {
    /*color: #000;*/
    /*border-right: 1.75px solid #ebebeb;*/
    /*border-left: 0.75px solid #ebebeb;*/
    /*border-color: #545454;*/
    /*border: none;*/
}




.line_break1 /* для переноса */
{
  margin-top: -0.9em!important;
  margin-left: 0!important;
  margin-right: 0!important;
  margin-bottom: -2em!important;

/*padding: -10px!important;*/
word-break:break-all!important;
}


.line_break2 /* для переноса */
{
  margin-top: -2.2em!important;
  margin-left: 0em!important;
  margin-right: 0!important;
  margin-bottom: 0!important;

/*padding: -10px!important;*/
word-break:break-all!important;
}



.line_break_title /* для переноса заголовков таблиц*/
{
    line-height: 18px;
    margin-top: 3.5px;
}



/*/*Пример отключения изменения размера конечной даты*/*/
/*.gantt_task_line:hover .gantt_task_drag.task_start_date{*/
/*    display: none;*/
/*}*/


    .project_style.gantt_row {
         background: #ebebeb!important;
    }



/*input{*/
/*  font-size: 15pt;*/
/*  font-family: Akrobat-Regular!important;*/
/*     width: 100%!important;*/
/*}*/



.fileUpload /* блок в котором находится кнопка выбора и название выбранного фала */
{
background: #fff;
box-shadow: 1px 3px 10px 0 rgba(0,0,0,.5);
border: 1px solid rgba(34,34,34,0); /* ширина границы 1px, обычная одинарная граница, ее цвет*/
display: block;
margin: .375rem .125rem;
-o-border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
width: 250px;
font-family: Akrobat-Light;
font-size: 11pt;
}

.fileUpload .fileBtn /* кнопка выбора файла */
{
color: #ffffff;;
background-color: rgba(34,34,34,.94);
cursor: pointer;
float: left;
padding: .375rem .75rem;
text-align: center;
width: 33%;

-o-border-radius: 6px 0 0 6px;
-moz-border-radius: 6px 0 0 6px;
-webkit-border-radius: 6px 0 0 6px;
border-radius: 6px 0 0 6px;
}

.fileUpload .fileName /* имя выбранного файла */
{
float: right;
overflow: hidden;
white-space: nowrap;
width: 67%;
text-align: center;
color: #000;
padding: .375rem .75rem;
}

.fileUpload .fileBtn:hover, .setting-button-diagram-gant:hover /* кнопка выбора файла при наведении */
{
/*background: #2da53b;*/
-webkit-transition-property: background;
-webkit-transition-duration: 0.2s;
-webkit-transition-timing-function: ease-in;
-moz-transition-property: background;
-moz-transition-duration: 0.2s;
-moz-transition-timing-function: ease-in;
-o-transition-property: background;
-o-transition-duration: 0.2s;
-o-transition-timing-function: ease-in;
-ms-transition-property: background;
-ms-transition-duration: 0.2s;
-ms-transition-timing-function: ease-in;
transition-property: background;
transition-duration: 0.2s;
transition-timing-function: ease-in;
     transform: scale(1.3); /* Увеличиваем масштаб */
}
     /*img {*/
     /* -webkit-filter: invert(90%);*/

     /* }*/
.fileUpload .fileBtn:hover, .setting-button-diagram-gant:focus {
    outline-color: transparent;
    outline-style:solid;
    /*box-shadow: none;*/
 /*background: #35c046;*/
}

.fileUpload:after
{
clear: both;
content: " ";
display: block;
/*height: 0;*/
line-height: 0;
visibility: hidden;
}


.gantt_tree_icon.gantt_open {
    background-image: url("/static/image/open.png");
    width: 30px;
    background-size: 50% auto;
    -webkit-filter: invert(15%);
    cursor: pointer;
}

.gantt_tree_icon.gantt_close {
    background-image: url("/static/image/close.png");
    width: 30px;
    background-size: 50% auto;
    -webkit-filter: invert(15%);
    cursor: pointer;
}

.gantt_histogram_hor_bar, .gantt_histogram_vert_bar {
    margin-left: -0px!important;
}

.gantt_row_project{
    cursor: pointer!important;
}
.gantt_row_task{
    cursor: pointer!important;
}

.gantt_add{
    cursor: cell;
}

.gantt_grid_head_cell.gantt_grid_head_add.gantt_last_cell.grid_header_class{
    cursor: cell;
}


#myCover {
  position: static!important;
}


/*.gantt_layout_cell, .gridScroll_cell{*/
/*    background-color: black!important;*/
/*}*/



.gantt_task_drag.task_left {
    left: 1px;
    width: 5px;
}
.gantt_task_drag.task_right {
    right: 1px;
    width: 5px;
}


.gantt_link_control{
    display: none!important;
}

.gantt_resizer_y.gantt_resizer_y{
    height: 15px;
    top: 0px;
}



.gantt_tree_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-container {
    flex: 1;
  display: flex;
  justify-content: space-evenly;

}


.fa {
  /* Дополнительные стили для элементов, если необходимо */
}

.gantt_row.row-class.gantt_row_project .gantt_cell.gantt_last_cell{
    /*background-color: var(--light-background-color);*/
    /*border-bottom: 1px solid var(--light-border-color);*/
    /*border-left: 1px solid var(--light-border-color);*/
}

.fa-medium {
  font-size: 4em; /* Регулируйте эту величину по вашему усмотрению */
}

.gantt_grid_head_add {
  width: 20px!important;
    margin-top: 14px;
  height: 20px!important;
  background-size: cover;
}

.gantt_grid_add.fa-plus.fa-lg:hover {
  color: #00eaff; /* Задайте желаемый цвет при наведении */
}


.gantt_layout_content.gantt_resizer_x{
    cursor: col-resize;
}

.gantt_layout_content.gantt_resizer_y{
    cursor: row-resize;
}

.navbar.navbar-expand-lg.rounded-0.shadow-none {
  /*border-top: 1px solid #737373 !important;*/
    border-left: 1px solid var(--light-border-color) !important;
    border-right: 1px solid var(--light-border-color) !important;
    background-color: var(--light-background-color) !important;
  /*background-image: linear-gradient(to bottom, var(--black-background-color), #3a3b3b);*/
}